</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p id="date">copyright © <%= new Date().getFullYear() %></p>
</footer>

<!-- <script>
  let currentYear = new Date();
  let getYear = currentYear.getFullYear();
  const date = document.querySelector("#date").innerHTML = "Copyright ©" + getYear;

  console.log("copyright © " + date)
</script> -->
</body>
</html>

<!--  -->